@use './partials/colors';
@import url(/styles/partials/_fonts.scss);
@import "./partials/mixins";

*{
    margin:0;
    padding:0;
}

body{
    font-family:"Avenir Next",sans-serif;
}

header{
    display:flex;
    flex-wrap:wrap;
    background-color:colors.$BandSite-Black;
    color:colors.$White;

    @include tablet{
        flex-wrap:nowrap;
        align-items:center;
        gap:3rem;
    }

    @include desktop{
        gap: 1rem;
    }
        .header__logo{
            color:colors.$White;
            text-decoration: none;
        }

        .header__title{
            font-size:24px;
            line-height:32px;
            font-weight:400;
            text-align:center;
            width:100%;
            padding:1rem 0 0;

            @include tablet{
                width:auto;
                padding:1rem 2rem 1rem;
            }
            
            @include desktop{
                padding:1rem 1rem 1rem 6rem;
            }
        }

        .header__link{
            color:colors.$White;
            text-decoration:none;
        }

        .header__subtitle-one,.header__subtitle-two{
            text-align:center;
            width:50%;
            font-size:14px;
            padding:1rem 0 1rem;
            &:hover{
                border-bottom:0.3rem solid colors.$White;
            }

            @include tablet{
                line-height:32px;
                padding:1rem 1rem 1rem;
                width:auto;
            }
        }

        .header__subtitle-one{
            font-weight:600;
            border-bottom:solid colors.$White 0.3rem;
        }
    }


.hero{
    position:relative;
    aspect-ratio:1.8/1;

        .hero__image{
            max-height:100%;
            width:100%;
            object-fit:fill;
        }

        .hero__filter{
            position:absolute;
            top:0;
            right:0;
            left:0;
            bottom:3px;
            background-color:colors.$BandSite-Black;
            filter:opacity(50%);
        }

        .hero__title{
            position:absolute;
            top:45%;
            font-size:24px;
            color:colors.$White;
            font-weight:700;
            padding-left:1rem;

            @include tablet{
                font-size:60px;
                line-height:68px;
                padding-left:2rem
            }

            @include desktop{
                padding-left:6rem;
            }
        }
}

.main{
    padding:1rem 1rem;
    color:colors.$BandSite-Black;

    @include tablet{
        padding:2rem 2rem;
    }

    @include desktop{
        padding:2rem 4rem 0rem;
    }

    .main__title,.main__person,.main__title-two,.main__text-two,.main__text-three{
        padding:0 0 1rem;

        @include desktop{
            padding:0 0 2rem;
        }
    }

    .main__title{
        font-size:24px;
        font-weight:700;
        line-height:32px;

        @include tablet{
            font-size:36px;
            font-weight:600;
            line-height:44px;
        }
        
        @include desktop{
            padding:0 2rem 2rem;
        }
    }

    .main__header{
        @include tablet{
            padding:0 3rem 1rem;
        }

        @include desktop{
            padding: 0 8rem 1rem;
        }
    }

    .main__image{
        width:100%;
        aspect-ratio:1.8/1;
    }

    .main__quote{
        font-size:14px;
        line-height:22px;
        font-weight:600;
        padding:0.5rem 0 0;

        @include tablet{
            font-size:24px;
            line-height:32px;
        }

    }

    .main__quote,.main__title-two{
        @include tablet{
        padding:0 3rem 1rem;
        }

        @include desktop{
        padding: 0 8rem 1rem;
        width:65%;
        }
    }

    .main__person{
        font-size:14px;
        line-height:22px;
        font-weight:600;

        @include tablet{
            padding:0 3rem 2rem;
        }

        @include desktop{
            padding: 0 8rem 2rem;
        }
    }

   .main__text-two, .main__text-three{
        font-size:13px;
        line-height:18px;

        @include tablet{
            font-size:14px;
            line-height:22px;
        }
    }

    .main__title-two{
        font-size:14px;
        line-height:22px;
        font-weight:600;

        @include tablet{
            font-size:24px;
            line-height:32px;
        }
    }

    .main__section{
        @include tablet{
            display:flex;
            padding:0 3rem;
            gap:2rem;
        }
        @include desktop{
            padding:0 8rem;
        }
    }
}

.gallery{
    background-color:colors.$Alabaster;
    color:colors.$BandSite-Black;

        .gallery__title{
            padding:1rem 1rem 0;
            font-size:24px;
            line-height:32px;
            font-weight:700;

            @include tablet{
                padding:2rem 2rem 1rem;
                font-size:36px;
                line-height:44px;
            }

            @include desktop{
                padding:1rem 6rem 0;
            }
        }

        .gallery__article{
            padding:0 0.5rem;

            @include tablet{
                display:flex;
                flex-wrap:wrap;
                justify-content:center;
                padding:0 0 1rem;
            }

            @include desktop{
                padding:0 1.5rem 1rem;
            }
        }

        .gallery__section{
            padding:0.5rem 0.5rem;
            @include tablet{
                width:28%;
                padding:0.8rem 0.8rem;
            }
        }

        .gallery__photo{
            width:100%;
        } 
}

.forms{
    &__header{
        font-size:24px;
        line-height:32px;
        font-weight:700;
        padding: 1rem 1rem;
    }
}

.comments{
    display:flex;
    padding:0 1rem 1rem 1rem;
    justify-content:space-between;

    &__left{
        padding-top:1rem;
        width:20%;
    }

    &__image{
        border-radius:50%;
        height:36px;
        width:36px;
    }

    &__right{
        width:80%;
    }
}

/*was supposed to be used for file type
#comments__file{
    display:none;
}*/


#comments__name{
    width:100%;
    padding:0.5rem 0;
    border:1px solid colors.$Mercury;
    border-radius:4px;
    outline:none;

    &:focus{
        border:1px solid colors.$BandSite-Black
    }
}

#comments__comment{
    width:100%;
    padding:0.5rem 0 5rem;
    border:1px solid colors.$Mercury;
    border-radius:4px;
    outline:none;

    &:focus{
        border:1px solid colors.$BandSite-Black;
    }
}

#comments__button{
    width:100%;
    height:40px;
    padding:0.5rem 0;
    margin:0.5rem 0;
    background-color:colors.$BandSite-Black;
    border:none;
    border-radius:4px;
    color:colors.$White;
    font-size:13px;
    line-height:20px;
    font-weight:700;
}

label{
    font-size:10px;
    line-height:20px;
    font-weight:700;
    color:colors.$Silver;
}

.posts{
    display:flex;

    &__image{
        height:36px;
        width:36px;
        border-radius:50%;
    }
}

footer{
    background-color:colors.$BandSite-Black;
    color:colors.$White;
    @include tablet{
        position:relative;
    }

    .footer__block{
        @include tablet{
            display:flex;
        }

        @include desktop{
            padding:0 4rem;
        }
    }

    .footer__title{
        padding:2rem 1rem 1rem;
        font-size:24px;
        font-weight:700;
        line-height:32px;

        @include tablet{
            font-size:36px;
            line-height:44px;
            padding:2rem 2rem;
        }
        
        @include desktop{
            padding:3rem 2rem;
        }
    }

    .footer__list{
        display:flex;
        padding:0 1rem 1rem;
        list-style-type:none;
        gap:2rem;
        align-items:center;

        @include tablet{
            padding:2rem 0rem;
        }

        @include desktop{
            padding:3rem 0rem;
        }
    }

    .footer__header, .footer__info{
        padding:0 1rem 1rem;
        font-size:14px;
        font-weight:600;
        line-height:22px;

        @include tablet{
            padding: 0 2rem 2rem;
        }
    }

    .footer__info{
        font-size:13px;
        font-weight:400;
    }

    .footer__logo{
        padding:1rem 1rem 1rem;

        @include tablet{
            position:absolute;
            top:0;
            right:0;
            padding:2rem 2rem 2rem;
        }

        @include desktop{
            padding:3rem 6rem 2rem;
        }
    }

    .footer__email{
        font-style:none;
        text-decoration:none;
        color:colors.$White;
    }

    .footer__copyright{
        padding:0 1rem 1rem;
        font-size:13px;
        line-height:18px;
        font-weight:400;

        @include tablet{
            padding:0 2rem 2rem;
            font-size:14px;
            line-height:20px;
        }

        @include desktop{
            padding:0 6rem 2rem;
        }
    }
}